<h2>Календар</h2>
<form action="/guest/day" method="GET">
    <label>Знайти день:</label>
    <label>
        <input type="text" name="id">
    </label>
    <button type="submit">Пошук</button>
</form>