<h2>Library Catalog</h2>
<h3>Search</h3>
<form action="/guest/search/author" method="GET">
    <label>Search by Author:</label>
    <input type="text" name="name">
    <button type="submit">Search</button>
</form>
<form action="/guest/search/title" method="GET">
    <label>Search by Title:</label>
    <input type="text" name="title">
    <button type="submit">Search</button>
</form>
<form action="/guest/search/keyword" method="GET">
    <label>Search by Keyword:</label>
    <input type="text" name="keyword">
    <button type="submit">Search</button>
</form>