<!DOCTYPE html>
<html>
<head>
    <title><%= title || 'Library Catalog' %></title>
        <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
<%- include('../partials/header') %>
<main>
    <%- body %>
</main>
<%- include('../partials/footer') %>
</body>
</html>