<!DOCTYPE html>
<html>
    <head>
        <title><%= 'Прогноз погоди' %></title>
        <link
            rel="stylesheet"
            href="/stylesheets/styles.css"
        />
    </head>
    <body class="main-wrapper">
        <%- include('../partials/header') %>
        <main class="main"><%- body %></main>
    </body>
</html>
